body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
    padding-top: 10px;
    background-color: bisque;
}

input {
    width: 150px;
}

input:focus {
    outline: 2px solid #000000;
    border-radius: 5px;
    background-color: goldenrod;
}

#container {
display: flex;
flex-wrap: wrap;
flex: 0 0 700px;
height: 700px;
width: 70px;
}

#container div {
    display: flex;
    flex: 1 1 0;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin: 55px;
    gap: 50px;
}

button:hover {
    border-radius: 5px;
    border: 2px solid black;
    background-color: gray;
}

button:not(.default)::-moz-focus-inner {
        border-style: none;
    }

    button:focus {
        outline: 2px solid #000000;
        color: red;
        border-radius: 5px;
        background-color: goldenrod;
      }
